.header{
    width: 100%; 
    background-color: var(--bg-section-alt); 
    position: sticky;
    top: 0;
    z-index: 1000;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 3rem;
    width: 90%; 
    max-width: 1140px; 
    margin: 0 auto;   
}

.nav{
    display: flex;
    gap: 20px;
}

.link{
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    transition: color 0.3s ease;
}

.downloadBtn{
    padding: 10px 20px;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}